<!--Основоной шаблон, который формирует главную страницу и на базе которого строются остальные шаблоны.-->

{% extends "base.html" %}

{% block title %}Актуальные новости::{{title}}{% endblock %}


{% block sidebar %}
    {% include "inc/_sidebar.html" %}
{% endblock %}


{% block content %}
    {% for i in news %}
    <div class="card mb-3">
        <div class="card-header">
            Категория: <a href="{{i.Category.get_absolute_url}}" >{{i.category}}</a>
        </div>
        <div class="card-body">
            <div class="media">
                <div class="media-body">
                    {% if i.photo %}
                        <img src = "{{ i.photo.url }}" alt="" width="300" height="300">
                    {% else %}

                    {% endif %}
                </div>
            </div>
            <h5 class="card-title">{{forloop.counter}}. {%filter force_escape| upper%}{{i.title}}{%endfilter%}</h5>
            <p class="card-text ">{{i.content|linebreaks|truncatewords:15}}</p>
            <a href="#" class="btn btn-primary">Читать делее.....</a>
        </div>
        <div class="card-footer text-muted">
            {{i.created_at|date:"Y-m-d H:i"}}
            / C момента выхода новости прошло {{i.created_at|timesince}}
        </div>
    </div>
    {% empty %}
        <li>Нет статей в данной разделе</li>
    {% endfor %}

{% endblock %}










