{% extends "base.html" %}

{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Сброс пароля отправлен </h2>
		<hr>
		<p>Мы отправили вам по электронной почте инструкции по установке пароля,
			если существует учетная запись с указанным вами адресом электронной почты.
			Вы получите их в ближайшее время .
			<br>Если вы не получили электронное письмо, убедитесь, что вы ввели адрес,
			на который вы зарегистрировались, и проверьте папку со спамом. </p>
  </div>

{% endblock %}